@using SPA.Models

@model IEnumerable<Reserve>
@{
    ViewBag.Title = "Заявки на бронирование стола";
}

@section Scripts {
    
}

@section Body {
    <div id="summary" class="section panel panel-primary">
        @Html.Partial("Summary", Model)
    </div>
    <div id="editor" class="section panel panel-primary">
        @Html.Partial("Editor", new Reserve())
    </div>
}